{% extends 'Base/site.html.twig' %}

{% block body %}
    {% block vue %}
        <h2>Ajout d'un livre </h2>

        {{ form_start(myform) }}

        {{ form_errors(myform) }}

        {{ form_row(myform.libelle) }}

        {{ form_rest(myform) }}

        {{ form_end(myform) }}

    {% endblock %}
{% endblock %}